body {
    margin: 0px;
    padding: 0px;
    font-family: Century;
    background-image: url('bg.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    float: right;
    list-style-type: none;

    padding: auto;
    width: 200px;

}

ul li {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    margin: 1px 1px 1px 1px;

}

ul li a {

    text-decoration: none;
    list-style-type: none;
    color: #fdebcd;
    padding: 5px 20px;
    margin: 1px 0px 1px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover {
    background-color: #efdcbe;
    color: #000000;
}

.logo {
    float: left;
    height: 60px;
    width: 44px;
    position: relative;
    top: -90px;


}

.welcome {
    direction: right;
    width: 13%;
    color: forestgreen;
    font-size: 115%;
    margin-top: 0px;

}
